h2 .not-deliverable-product {
  color: #f56c42 !important;
  text-decoration: line-through !important;
}

.sellers-message {
  display: inline-block;
  background: #02020212;
  padding: 4px 8px;
  margin-top: 6px;
  margin-bottom: 2px;
}
