.shp-not-deliverable-product {
  opacity: 0.35;
  transition: opacity 0.15s;
}

.shp-not-deliverable-product:hover {
  opacity: 1;
}

.shp-not-deliverable-product-icon {
  display: inline-block;
  width: 1.125rem;
  margin-right: 0.25rem;
  fill: #ce0505;
  line-height: 1;
  vertical-align: sub;
}

.shp-sellers-message {
  display: inline-block;
  background: #02020212;
  padding: 4px 8px;
  margin-top: 6px;
  margin-bottom: 2px;
}
